node_modules/
dist/
public/auto-cms.js
public/mutli-lang.js
*-lock.json
*-lock.yaml
*.lock
.*-debug.log
*.tsbuildinfo
.env
*.tgz
.DS_Store
/website
*_bk*.*
file-list.txt
node_modules
dist
.env.*
!.env.example
*.sqlite3
*.sqlite3-shm
*.sqlite3-wal
dump.sql
*.xz
